p {
    background: rgb(0,230,100, 0.3);
    border: 2px solid black;
    /*display 
    none: se usa mucho en responsive desin: oculta el elemento
    inline: los trata como una sola linea
    inline-block: se ponen uno despues de otro. indispensable para el responsive design. Los considera como diferentes líneas.
    block: se despliega utilizando el 100% del espacio disponible

    por default: block
    */
    display: inline;
}
/*
Position:
default: static
*/
.padre {
    width: 250px;
    height: 2500px;
    margin: 25px;
    background: orange;

}

.hijo2 {
    width: 100px;
    height: 100px;
    background: green;
    float: left;
}

.hijo1 {
    width: 50px;
    height: 50px;
    background: red;
    /*position: static;*/
    /*position: relative;
    top: -10px;
    left: 100px;*/
    /*position: absolute;*/
    /*position: fixed;
    top: 0px;
    left: 0px;*/
    display: inline-block;
}

.hijo3 {
    width: 50px;
    height: 50px;
    background: blue;
    clear: left;
}