div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.triangulo-lateral{
    -webkit-transform: translateX(0);
}

.triangulo-lateral::before{
    content: '';
    -webkit-transition-duration: 0.3s;
    border-style: solid;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #a8cf45 transparent transparent;
 
    position: absolute;
    left: 0px;
    top:50%;
    margin-top: -15px;
}

.triangulo-lateral:hover::before{
    left: -13px;
    
}


.triangulo-fijo{
    -webkit-transform: translateX(0);
    -webkit-transition-duration: 0.3s;
}

.triangulo-fijo::before{
    content: '';
    -webkit-transition-duration: 0.3s;
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    border-color: transparent transparent #a8cf45 transparent;
 
    position: absolute;
    top: 0px;
    left:50%;
    margin-left: -15px;
}

.triangulo-fijo:hover{
    -webkit-transform: translateY(15px);
}

.triangulo-fijo:hover::before{
    top: -13px;
    
}

.esquina_pagina{
    -webkit-transform: translateX(0);
}

.esquina_pagina:before{
    content: '';
    -webkit-transition-duration: 0.6s;
    position: absolute;
    left: 0px;
    bottom: -0.5px;
    width:0;
    height: 0;
    background: -webkit-linear-gradient(
        45deg, white 45%, #aaa 50%,
        #ccc 60%, white);
    border:none;
}

.esquina_pagina:hover:before{
    width:  40px;
    height: 40px;
}